# Ignorar todo
*

# Excluir el directorio raíz y los archivos dentro de tu repositorio
!/

# Excluir los archivos específicos que quieres rastrear dentro del repositorio
!index.html
!style.css
!assets/
!README.md
!.gitignore

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de editor
.vscode/
.idea/
*.log

# Ignorar archivos temporales
*.swp
*.bak

# Ignorar directorios y archivos innecesarios
node_modules/
npm-debug.log
.env

# Ignorar archivos y carpetas del sistema fuera del repositorio
Documents/
Downloads/
OneDrive/
Pictures/
Videos/
Desktop/
